<h1>Зеленая карта</h1>
<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>Тип страхователя</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of typeOfPolicyholder" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('type').hasError('required')">
        <small>Поле "Тип страхователя" не может быть пустым</small>
      </mat-error>
     </mat-form-field>

    <mat-form-field>
      <mat-label>Срок страхования</mat-label>
      <mat-select formControlName="month">
        <mat-option *ngFor="let month of insurancePeriod" [value]="month.value">
          {{month.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('month').hasError('required')">
        <small>Поле "Срок страхования" не может быть пустым</small>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Страны выезда</mat-label>
      <mat-select formControlName="country">
        <mat-option *ngFor="let country of countryOfDeparture" [value]="country.value">
          {{country.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('country').hasError('required')">
        <small>Поле "Страны выезда" не может быть пустым</small>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Валюта оплаты взноса</mat-label>
      <mat-select formControlName="currency">
        <mat-option *ngFor="let currency of paymentCurrency" [value]="currency.value">
          {{currency.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('currency').hasError('required')">
        <small>Поле "Валюта оплаты взноса" не может быть пустым</small>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Объект</mat-label>
      <mat-select formControlName="transport">
        <mat-option *ngFor="let transport of typeOfTransport" [value]="transport.value">
          {{transport.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('transport').hasError('required')">
        <small>Поле "Объект" не может быть пустым</small>
      </mat-error>
    </mat-form-field>

    <div class="btn">
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Рассчитать</button>
    </div>
  </form>

  <small *ngIf="form.invalid">Необходимо заполнить все поля, чтобы произвести расчет</small>

  <div *ngIf="costEuro">
    <div [ngSwitch]="currencyKey">
      <div *ngSwitchCase="'rub'">
        <p>Стоимость страховки составляет
          {{costEuro  * ((rates[5].curRate/rates[5].curScale) / (rates[16].curRate / rates[16].curScale)) |
          currency:'RUB' : 'symbol-narrow':'1.0-0'}}</p>
      </div>
      <div *ngSwitchCase="'usd'">
        <p>Стоимость страховки составляет
          {{costEuro * ((rates[5].curRate/rates[5].curScale) / (rates[4].curRate / rates[4].curScale)) |
            currency:'USD' : 'symbol-narrow':'1.0-0'}}</p>
      </div>
      <div *ngSwitchDefault>
        <p>Стоимость страховки составляет
          {{costEuro | currency: 'EUR' : 'symbol-narrow':'1.0-0'}}</p>
      </div>
    </div>
  </div>
</div>

