<mat-grid-list cols="3">
  <mat-grid-tile>
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Несчастные случаи</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://image.flaticon.com/icons/svg/1518/1518739.svg"
           alt="Страхование от несчастных случаев">
      <mat-card-actions>
        <a routerLink="/health/accident">Подробнее</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Страхование семьи</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://image.flaticon.com/icons/svg/1518/1518709.svg"
           alt="Страхование семьи">
      <mat-card-actions>
        <a routerLink="/health/family-insurance">Подробнее</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Страхование выезжающих зарубеж</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://image.flaticon.com/icons/svg/1518/1518716.svg" alt="Страхование выезжающих зарубеж">
      <mat-card-actions>
        <a routerLink="/health/abroad">Подробнее</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
